
.header { 
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 0px 20px;
    border: 1px solid #d3d3d3;
}
.logo {
    
    height: 100px;
    width: 100px;
}
.logo:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.logo-img {
    border-radius: 20px;
    height: 100px;
    width: 100px;
}
.list {
    
    list-style-type: none;
    font-size: 20px;
}
.list:hover {
    cursor: pointer;
}
.list-items{
    gap: 30px;
    list-style-type: none;
    display: flex;
    font-weight: bold;
}
.body {
    gap: 10px;
    margin-top: 20px;
}
.resturant-list {
    display: flex;
    flex-wrap: wrap;
}
.resturant-card {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    width: 300px;
    box-shadow: 2px 2px 5px #d3d3d3;
}
.resturant-card:hover {
    box-shadow: 4px 4px 10px #a9a9a9;
    cursor: pointer;
}
.resturant-img {
    border-radius: 10px;
    height: 200px;
    width: 300px;
}
.top-btn {
    margin: 10px;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

.top-btn:hover {
    background-color: #d3d3d3;
}

.btn-login {
    cursor: pointer;
}
.search-input{
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    font-size: 16px;
}
.filter-btn{
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    /* background-color: #e6e9e6; */
    /* color: white; */
    font-size: 16px;
    cursor: pointer;
}
.filter-btn:hover{
    background-color: #d3d3d3;
}
.about-card {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 20px;
    /* margin: 20px; */
    width: 900px;
    height: 300px;
    box-shadow: 2px 2px 5px #d3d3d3;
}
